










/* max-width = desktop first, si l'ecran est inf ou egal alors {...} */
/* Media Queries */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .leftArrow img, .rightArrow img{
        Width: 50%;
    }
    .leftArrow{
        top: 40%;
        left: -10px;
    }
    .rightArrow{
        top: 40%;
        right: -10px
    }
}

@media screen and (max-width: 576px) {
    .carrouselContainer{
        aspect-ratio: 17/13;
        height: 255px;
    }
    .leftArrow{
        top: 45%;
        left: -20px;
    }
    .rightArrow{
        top: 45%;
        right: -20px
    }
    .leftArrow img, .rightArrow img{
        Width: 24%;
    }
    .countContainer{
        display: none;
    }
    .slideImg{
        object-position: 1;
    }
}