.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: auto;
    height: auto;

    padding: 0px 90px;
}

.logo{
    height: 68px;
    width: 20%;
}

.navbar{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}
.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    padding: 0px;
    font-weight: 500;
}

li a{
    color: #FF6060;
    text-decoration-line: none;
    font-size: 90%;
}

li a:hover{
    text-decoration-line: underline;
}