.hostInfos{
    display: flex;
    align-items: center;
    margin-top: -55px;
    gap: 10px;
}

.hostInfos p{
    width: 80px;
    text-align: end;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}

.hostInfos img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}