.tagsContainer{
  display: flex;
  gap: 10px;

  .tag {
    font-size: 14px;
    color: $white;
    background: $red;
    border-radius: 10px;
    padding: 3px 20px;
    margin: 0;
  }
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .tagsContainer {
    .tag {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tagsContainer {
    .tag {
      padding: 3px 10px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 576px) {
  .tagsContainer {
    .tag {
      font-size: 10px;
    }
  }
}