.footerContainer{
  background-color: black;
  height: auto;
  width: 100%;
  margin-top: 50px;
  padding-top: 55px;
  padding-bottom: 20px;
  
  .creditFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    >p{
      margin-top: 35px;
      color: white;
      font-weight: 500;
    }
  }
}

